<div class="flex mt-5 font-semibold items-center justify-center text-center">

  <div class="flex flex-col font-semibold items-center justify-center text-center mr-16">

    <div class="flex flex-col p-16 bg-white rounded-2xl shadow items-center text-xl" style="width: 70dvh; height: 50dvh">
      <!-- Contenido de la primera columna -->
      <div>
        Contenido
      </div>

      <div class="mt-auto">
        <button class="text-white py-2 px-4 rounded-xl" style="background: #e02c2c">
          ¡Agendar Cita Aquí!
        </button>
      </div>

    </div>

    <div class="flex flex-row text-white mt-10 space-x-20 mr-10 text-xl">
      <div class="flex flex-row space-x-4">
        <img src="/img/triangulito.png" alt="Punto Triangular Amarillo" class="w-18 h-20 -mt-3">
        <div>Donde y cuanto <br> usted lo necesite.</div>
      </div>
      <div class="flex flex-row space-x-4">
        <img src="/img/triangulito.png" alt="Punto Triangular Amarillo" class="w-18 h-20 -mt-3">
        <div>Transparencia <br> garantizada.</div>
      </div>
    </div>


  </div>


  <div class="flex -mt-16 font-semibold items-center justify-center text-center ml-16">
    <div>

      <img src="/img/like5.png" alt="Logo">

    </div>
  </div>

</div>





